<section class="section" style="margin-bottom: 66px">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card">
          <div class="card-image">
            <figure class="flame image is-4by5">
              <%= attachment_image_tag @recipe, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered"><%= @recipe.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>レシピ</th>
                </tr>
                <tr>
                  <td><%= simple_format @recipe.body %></td>
                </tr>
              </table>
              <% if @recipe.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_recipe_path(@recipe), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

     

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @recipe.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @recipe.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@recipe.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @recipe.user.username %> さんのページへ
          <% end %>
          
          <div>
          <table class="table is-fullwidth">
            <% @recipe.comments.each do |comment| %>
              <tr class="flame item">
              <td class="title is-size-6" style="margin: 0; margin-right: auto;">
                <%= link_to comment.user.username, [comment.user] %>
              </td>
              <td class="title is-size-6" style="margin: 0; margin-right: auto;">
                <%= comment.body %>
              </td>
              <td class="title is-size-6">
              <% if comment.user == current_user %>
                <%= link_to '削除', [@recipe, comment], method: :delete, class:"button is-small is-primary"%>
              <% end %>
              </td>
              </tr>
            <% end %>
          </table>
          </div>

          <div>
          <table class="table is-fullwidth">
          <tr class="flame item">
          <% if user_signed_in? %>
            <%= form_with model: [@recipe, @comment], local: true do |f| %>
              <td class="panel-block">
                <%= f.text_field :body %>
              </td>
              <td class="panel-block">
                <%= f.submit '投稿する'%>
              </td>
            <% end %>
          <% end %>
          </table>
          </div>

          <div class="panel-block">
            <% if current_user.already_liked?(@recipe) %>
              <%= link_to recipe_likes_path(@recipe), method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
              <% else %>
              <%= link_to recipe_likes_path(@recipe), method: :create do %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
            <%= @recipe.likes.count %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>